@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,398;1,398&display=swap');
.content {
  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
position: relative;

  
  /* Add any additional styling for the background image here */
}
.name {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
.h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 398;
  font-style: normal;
  font-size: 70px;
}

}
.h2 {
  margin-left: 150px;
  font-family: "Roboto Mono", monospace;

  font-weight: 398;
  font-style: normal;
  font-size: 50px;
  
}
